# Exercise 5

### 1. Python Built-in Functions for List Operations

##### (a) find the sum of the elements in the list [2.5, -7, 4, 3.3, 9, -6.4].
##### (b) find the maximum of the elements for the list in (a).
##### (c) find the minimum of the elements for the list in (a).
##### (d) sort a the list in (a) in descending order.

In [8]:
### A)
numbers = [2.5, -7, 4, 3.3, 9, -6.4]

In [2]:
total_sum = sum(numbers)
print("sum of elements:", total_sum)

sum of elements: 5.4

In [3]:
num1 = 2.5
num2 = -7
num3 = 4
num4 = 3.3
num5 = 9
num6 = -6.4
total = num1 + num2 + num3 + num4 + num5 + num6
print(total)

5.4

In [9]:
### B)
maximum_value = max(numbers)
print("maximum value:", maximum_value)

maximum value: 9

In [10]:
### C)
minimum_value = min(numbers)
print("minimum value:", minimum_value)

minimum value: -7

In [6]:
### D)
numbers.sort(reverse=True)
print("sorted list (descending):", numbers)

sorted list (descending): [9, 4, 3.3, 2.5, -6.4, -7]

##### (e) find the quotient and the remainder of 47 divided by 13
##### (f) evaluate the expression '1 + 2 == 3'.
##### (g) check if any numbers in a given list are non-zero.
##### (h) check if all numbers in a given list are non-zero.

In [7]:
numbers = [2.5, -7, 4, 3.3, 9, -6.4]

In [8]:
### E)
quotient = 47 // 13
remainder = 47 % 13
print("Quotient:",quotient)
print("Remainder:",remainder)

Quotient: 3
Remainder: 8

In [12]:
### F)
result = 1 + 2 == 3
print(result)

True

In [13]:
### G)
numbers = [2.5, -7, 4, 3.3, 9, -6.4]
print("any non-zero:", any(numbers))

any non-zero: True

In [14]:
### H)
numbers = [2.5, -7, 4, 3.3, 9, -6.4]
print("all non-zero:", all(numbers))

all non-zero: True

## 2. Write a Python function

In [12]:
### A) Cone volume
R =float(input("Radius:"))
H=float(input("Height:"))
Volume = (3.1415*R*R*H)/3
print("The volume of the cone is",Volume)

Radius: 2
Height: 3

The volume of the cone is 12.566

In [47]:
### A) Cone volume
def cone_volume(radius, height):
    return (3.1415*radius*radius*height) / 3
print(cone_volume(2, 3))

12.566

In [53]:
### B) Hypotenuse
from math import  sqrt
def hypotenuse(base, height):
    return sqrt(base**2 + height**2)
print(hypotenuse(2, 3))

3.605551275463989

In [44]:
### B) Hypotenuse
from math import sqrt
def hypotenuse(base, height):
    return sqrt(base **2 + height ** 2)
print(hypotenuse(2,3))

3.605551275463989

In [58]:
### C)
def square_and_cube(number):
    return number**2,number**3
print(square_and_cube(2))

(4, 8)

In [4]:
### D)
def celcius(F):
    return (5/9) * (F - 32)
F = float(input("Enter temperature in Fahrenheit: "))
print("Temperature in Celsius:", celcius(F))

Enter temperature in Fahrenheit:  36

Temperature in Celsius: 2.2222222222222223

In [9]:
### E)
def cylinder(r=1.0, h=1.0):
    surface_area = 2 * 3.1415 * r * (r + h)
    volume = 3.1415 * r * r * h
    return surface_area, volume
sa, vol = cylinder()
print("Surface area:", sa)
print("Volume:", vol)

Surface area: 12.566
Volume: 3.1415

In [12]:
### F)
def is_unique(lst):
    return len(lst) == len(set(lst))
numbers = [1, 2, 3, 4, 2]
print(is_unique(numbers))

False

In [ ]:
### G)
def f(name, age):
    print(f"Hi! my name is {name}")
    print(f"I am age {age} years old")
f('Natasha', 21)

In [24]:
def print_dict(d):
    for key, value in d.items():
        print(key, ":", value)
my_dict = {'Name': 'Aina', 'Age': 21, 'City': 'KL'}
print_dict(my_dict)

Name : Aina
Age : 21
City : KL

### 3. Use | a) aloop b) the map function
on the function written in Q2(d) to convert the following temperatures 125.70F, 275.40F, 300.00F, 37.480F, 0.00F, −180.450F to Celsius and print the results in tabular form.

In [1]:
def celsius(f):
    return (f - 32) * 5/9


temps_f = [32, 68, 86, 104, 212]


results = list(map(celsius, temps_f))

print("Results using map():")
print("Fahrenheit\tCelsius")
print("-" * 25)

for f, c in zip(temps_f, results):
    print(f"{f}\t\t{c:.2f}")

Results using map():
Fahrenheit	Celsius
-------------------------
32		0.00
68		20.00
86		30.00
104		40.00
212		100.00

### 8. Explain why each of the following calls to f is illegal CHAPTER 6.2.1

In [16]:
def f(a, b, c = 0, d = 0):
    return a, b, c, d

(a) **f(a = 1)** :Illegal because `b` is a required argument and it is missing.

(b) **f(1, 2, 3, 4, 5)**: Illegal because the function only takes 4 arguments, but this call gives 5.

(c) **f(b = 1, 2)**: Illegal because you can't put a plain number after a named one (like `b=1`). Also, `a` is missing.

(d) **f(b = 1, c = 2)**: Illegal because `a` is required and it was never given a value.

(e) **f(1, b = 1, 2)**: Illegal because after using a keyword argument (`b=1`), all arguments that follow must also be named.

In [17]:
def f(a, b, c = 0, d = 0):
    print(f"a: {a}, b: {b}, c: {c}, d: {d}")

In [18]:
print("(a)")
f(1, 2)

(a)
a: 1, b: 2, c: 0, d: 0

In [19]:
print("(b)")
f(1, 2, 3, 4)

(b)
a: 1, b: 2, c: 3, d: 4

In [20]:
print("(c)")
f(1, b=2)

(c)
a: 1, b: 2, c: 0, d: 0

In [21]:
print("(d)")
f(1, b=2, c=3)

(d)
a: 1, b: 2, c: 3, d: 0

In [22]:
print("(e)")
f(1, 1, 2)

(e)
a: 1, b: 1, c: 2, d: 0

### 9.
##### Create the list of integers with the following pattern
[1, 4, 2, 4, 2, 4, ... , 2, 4, 1]
by returning it from a function. Note that the list starts and ends with 1, has odd-index elements
equal to 4 and even-indexed elements equal to 2. The function receives the length of the list as the
input. The length must by an odd number, if it is even, return an empty list.

In [16]:
def create_pattern_list(length):
    if length % 2 == 0:
        return []
    my_list = [1]
    for i in range(1, length - 1):
        if i % 2 == 1:
            my_list.append(4) 
        else:
            my_list.append(2) 
    my_list.append(1)
    return my_list

In [24]:
result = create_pattern_list(7)
print(result)

[1, 4, 2, 4, 2, 4, 1]

In [25]:
print(create_pattern_list(4))

[]

In [26]:
print(create_pattern_list(11))

[1, 4, 2, 4, 2, 4, 2, 4, 2, 4, 1]

## 15.
##### (a) Create a list of square roots of the numbers in a given list.
##### (b) From a given list of strings, create a list of strings in upper case.
##### (c) Let
ls = ['USA', 'US', 'COD', 'CEO', 'ETA', 'RSVP', 'VIP']
Create a list that has a period inserted between each character in each member of ls.
5
##### (d) Let coords be [(1,2), (3,-1), (5,4), (6,0)] and origin be (2,1). Create a list of distances
of between each coordinate in coords to origin. [Hint : create a lambda dist that calculates the
distance between 2 tuples, and pass dist to the map function]
##### (e) create a dictionary where the values are converted to uppercase from a dictionary that has values
as strings.

In [27]:
### A)
numbers = [x**2 for x in range(2, 7)]
print(numbers)

[4, 9, 16, 25, 36]

In [28]:
import math

In [29]:
numbers = [4, 9, 16, 25, 36]
square_roots = list(map(lambda x: x**0.5, numbers))

print(square_roots)

[2.0, 3.0, 4.0, 5.0, 6.0]

In [30]:
words = ["apple", "banana", "cherry", "date"]
upper_words = list(map(str.upper, words))
print(upper_words)

['APPLE', 'BANANA', 'CHERRY', 'DATE']

In [31]:
ls = ['USA', 'US', 'COD', 'CEO', 'ETA', 'RSVP', 'VIP']

In [32]:
result_c = list(map(lambda x: ".".join(x), ls))
print(result_c)

['U.S.A', 'U.S', 'C.O.D', 'C.E.O', 'E.T.A', 'R.S.V.P', 'V.I.P']

In [33]:
import math

coords = [(1,2), (3,-1), (5,4), (6,0)]
origin = (2,1)

In [34]:
dist = lambda p: math.sqrt((p[0] - origin[0])**2 + (p[1] - origin[1])**2)
ans_d = list(map(dist, coords))
print(ans_d)

[1.4142135623730951, 2.23606797749979, 4.242640687119285, 4.123105625617661]

In [35]:
data = {'a': 'apple', 'b': 'banana', 'c': 'cherry'}
new_dict = dict(map(lambda x: (x[0], x[1].upper()), data.items()))
print(new_dict)

{'a': 'APPLE', 'b': 'BANANA', 'c': 'CHERRY'}

In [36]:
new_dict = {k: v.upper() for k, v in data.items()}
print(new_dict)

{'a': 'APPLE', 'b': 'BANANA', 'c': 'CHERRY'}

### 16.
##### (a) the list of numbers divisible by 5, 7 or 11 from a given list of numbers.
##### (b) the list of strings that contain digits only from a given list of strings.
##### (c) the list of names that start with ’A’ or ’F’ from a given list of names.
##### (d) the list of names that contain ’son’ from a given list of names.

In [37]:
### A)
my_list = [5, 7, 10, 11, 14, 15, 22, 25, 35, 44, 55, 60 ]
result = filter(lambda x : x % 5 == 0, my_list)
print("Number divisible by 5 are:",list(result))

Number divisible by 5 are: [5, 10, 15, 25, 35, 55, 60]

In [38]:
my_list = [5, 7, 10, 11, 14, 15, 22, 25, 35, 44, 55, 60 ]
result = filter(lambda x : x % 7 == 0, my_list)
print("Number divisible by 7 are:",list(result))

Number divisible by 7 are: [7, 14, 35]

In [39]:
my_list = [5, 7, 10, 11, 14, 15, 22, 25, 35, 44, 55, 60 ]
result = filter(lambda x : x % 11 == 0, my_list)
print("Number divisible by 11 are:",list(result))

Number divisible by 11 are: [11, 22, 44, 55]

In [40]:
### B)
s = ["123", "abc", "45", "hello", "7890", "12a", "007"]
result = list(filter(lambda x: x.isdigit(), s))
print(result)

['123', '45', '7890', '007']

In [41]:
### C)

names = ["Aina", "Farieha", "Farhana", "Nik", "Saleha", "Harith"]
result = list(filter(lambda x: x.startswith('A') or x.startswith('F'), names))
print(result)

['Aina', 'Farieha', 'Farhana']

In [42]:
### D)
names = ["Jason", "Alison", "Mason", "Aina", "Harrison", "Farah"]
result = list(filter(lambda x: 'son' in x.lower(), names))
print(result)

['Jason', 'Alison', 'Mason', 'Harrison']