# EXERCISE 6

#### Question 1

#### (a) Create the following date and time :
2nd July 2025; 15th October 2020 4 PM; 25th December 2021 4:15:27 PM

In [1]:
from datetime import datetime

d1 = datetime(2025, 7, 2)
d2 = datetime(2020, 10, 15, 16, 0)
d3 = datetime(2021, 12, 25, 16, 15, 27)

print(d1)
print(d2)
print(d3)

2025-07-02 00:00:00
2020-10-15 16:00:00
2021-12-25 16:15:27

#### (b) Let d be 15/7/2023, 16: 12: 23. Format d to be printed as :
4.12 pm, 15 Jul 2023, Sat

In [2]:
d = datetime(2023, 7, 15, 16, 12, 23)
formatted = d.strftime("%I.%M %p, %d %b %Y, %a").lower()
print(formatted)

04.12 pm, 15 jul 2023, sat

#### (c) What is the new date after adding 2 years, 5 months and 15 days to 17th November 2020?

In [3]:
import arrow
d = arrow.get(2020, 11, 17)
new_date = d.shift(years=2, months=5, days=15)
print(new_date.format("DD MMMM YYYY"))

02 May 2023

#### (d) What is the new date and time after adding 15 hours, 50 minutes and 52 second to 31st Decmber 2022, 7PM?

In [4]:
today = arrow.now()

if today.day < 25:
    payday = today.replace(day=25)
else:
    payday = today.shift(months=1).replace(day=25)

print(payday.format("DD MMM YYYY"))

25 Jan 2026

#### (e) Alan gets paid on the 25th of each month. Calculate Alan’s next pay day.

In [5]:
today = arrow.now()

if today.day < 25:
    payday = today.replace(day=25)
else:
    payday = today.shift(months=1).replace(day=25)

print(payday.format("DD MMM YYYY"))

25 Jan 2026

#### (f) David gets paid on the last day of each month. Calculate David’s next pay day.

In [6]:
today = arrow.now()
payday = today.ceil('month')

print(payday.format("DD MMM YYYY"))

31 Dec 2025

#### (g)  Find the current local time of Los Angeles and Hawaii

In [8]:
la = arrow.now("US/Pacific")
hawaii = arrow.now("US/Hawaii")

print("Los Angeles:", la.format("YYYY-MM-DD HH:mm:ss"))
print("Hawaii:", hawaii.format("YYYY-MM-DD HH:mm:ss"))

Los Angeles: 2025-12-28 10:38:23
Hawaii: 2025-12-28 08:38:23

#### (h)  Supposed that the 2024 Summer Olympics opening ceremony is at 8 PM Paris local time. Find the local time for the spectators in following cities to watch the event live.
Kuala Lumpur, Seoul, Muscat, Ontario, Calcutta

In [9]:
import arrow
paris_time = arrow.get("2024-07-26 20:00", "YYYY-MM-DD HH:mm").replace(tzinfo="Europe/Paris")

cities = {
    "Kuala Lumpur": "Asia/Kuala_Lumpur",
    "Seoul": "Asia/Seoul",
    "Muscat": "Asia/Muscat",
    "Ontario": "America/Toronto",
    "Calcutta": "Asia/Kolkata"
}

for city, zone in cities.items():
    print(city, ":", paris_time.to(zone).format("YYYY-MM-DD HH:mm"))

Kuala Lumpur : 2024-07-27 02:00
Seoul : 2024-07-27 03:00
Muscat : 2024-07-26 22:00
Ontario : 2024-07-26 14:00
Calcutta : 2024-07-26 23:30

#### Question 2

#### (a) Find the first Saturday of a given year and month.

In [10]:
import calendar

year = 2024
month = 8

if calendar.weekday(year, month, 1) == 5:
    print("First Saturday is 1")
elif calendar.weekday(year, month, 2) == 5:
    print("First Saturday is 2")
elif calendar.weekday(year, month, 3) == 5:
    print("First Saturday is 3")
elif calendar.weekday(year, month, 4) == 5:
    print("First Saturday is 4")
elif calendar.weekday(year, month, 5) == 5:
    print("First Saturday is 5")
elif calendar.weekday(year, month, 6) == 5:
    print("First Saturday is 6")
elif calendar.weekday(year, month, 7) == 5:
    print("First Saturday is 7")

First Saturday is 3

#### (b) Find the first Saturday of a given year.

In [11]:
import calendar

year = 2024

for month in range(1, 13):
    for day in range(1, 8):   
        if calendar.weekday(year, month, day) == 5:
            print("Month", month, ":", day)
            break

Month 1 : 6
Month 2 : 3
Month 3 : 2
Month 4 : 6
Month 5 : 4
Month 6 : 1
Month 7 : 6
Month 8 : 3
Month 9 : 7
Month 10 : 5
Month 11 : 2
Month 12 : 7

#### (c)  Create a list of tuples of the first day and the last day of each month in this year

In [12]:
import calendar

year = 2024

for month in range(1, 13):
    last_day = calendar.monthrange(year, month)[1]
    print("Month", month, ": first = 1, last =", last_day)

Month 1 : first = 1, last = 31
Month 2 : first = 1, last = 29
Month 3 : first = 1, last = 31
Month 4 : first = 1, last = 30
Month 5 : first = 1, last = 31
Month 6 : first = 1, last = 30
Month 7 : first = 1, last = 31
Month 8 : first = 1, last = 31
Month 9 : first = 1, last = 30
Month 10 : first = 1, last = 31
Month 11 : first = 1, last = 30
Month 12 : first = 1, last = 31

#### (d) Create a list of the number of days in each month of this year

In [13]:
import calendar

year = 2024

for month in range(1, 13):
    print("Month", month, "has", calendar.monthrange(year, month)[1], "days")

Month 1 has 31 days
Month 2 has 29 days
Month 3 has 31 days
Month 4 has 30 days
Month 5 has 31 days
Month 6 has 30 days
Month 7 has 31 days
Month 8 has 31 days
Month 9 has 30 days
Month 10 has 31 days
Month 11 has 30 days
Month 12 has 31 days

#### (e) Create a list of the first Thursdays of each month for this year

In [14]:
import calendar

year = 2024

for month in range(1, 13):
    for day in range(1, 8):
        if calendar.weekday(year, month, day) == 3:
            print("Month", month, ":", day)
            break

Month 1 : 4
Month 2 : 1
Month 3 : 7
Month 4 : 4
Month 5 : 2
Month 6 : 6
Month 7 : 4
Month 8 : 1
Month 9 : 5
Month 10 : 3
Month 11 : 7
Month 12 : 5

#### (f)  Create a list of weekdays (Saturdays and Sundays are excluded) for the current month

In [15]:
import calendar
import datetime

today = datetime.date.today()
year = today.year
month = today.month

for day in range(1, calendar.monthrange(year, month)[1] + 1):
    if calendar.weekday(year, month, day) < 5:
        print(day)

1
2
3
4
5
8
9
10
11
12
15
16
17
18
19
22
23
24
25
26
29
30
31

#### (g) Create a list of the date for the current week, starting from Monday

In [16]:
import datetime

today = datetime.date.today()
monday = today - datetime.timedelta(days=today.weekday())

for i in range(7):
    day = monday + datetime.timedelta(days=i)
    print(day)

2025-12-29
2025-12-30
2025-12-31
2026-01-01
2026-01-02
2026-01-03
2026-01-04

#### (h)  Print the list of the days in Q4(g) to a csv file (as the header)

In [17]:
import csv
import datetime

today = datetime.date.today()
monday = today - datetime.timedelta(days=today.weekday())

with open("week.csv", "w", newline="") as f:
    writer = csv.writer(f)
    row = []
    for i in range(7):
        day = monday + datetime.timedelta(days=i)
        row.append(day.strftime("%d-%m-%Y"))
    writer.writerow(row)

#### Question 3

#### (a) David works on weekdays and gets paid $120 a day. Calculate David’s salary for a given month and year

In [18]:
import calendar

year = 2024
month = 8   
pay_per_day = 120
salary = 0

for day in range(1, calendar.monthrange(year, month)[1] + 1):
    weekday = calendar.weekday(year, month, day)
    if weekday < 5:   
        salary += pay_per_day

print("Salary for", month, "/", year, "is $", salary)

Salary for 8 / 2024 is $ 2640

#### (b) David works on weekdays and gets paid $120 a day but the pay doubles if the week day is a holiday. Calculate David’s salary for a given month, year and a list of holidays

In [19]:
import calendar

year = 2024
month = 8
pay_per_day = 120
salary = 0

holidays = [8, 31]   
for day in range(1, calendar.monthrange(year, month)[1] + 1):
    weekday = calendar.weekday(year, month, day)
    if weekday < 5:  
        if day in holidays:
            salary += pay_per_day * 2  
        else:
            salary += pay_per_day

print("Salary for", month, "/", year, "with holidays is $", salary)

Salary for 8 / 2024 with holidays is $ 2760

#### Question 4

#### (a) Write the following text in a text file
Text files can be opened using the open function in Python. Any opened file should be closed by the close function.

In [20]:
f = open("text1.txt", "w")   
f.write("Text files can be opened using the open function in Python.\n")
f.write("Any opened file should be closed by the close function.")
f.close()

#### (b) Write a program that asks the user to input his name,age and school. Write all the inputs in a text file with proper formatting

In [21]:
name = input("Enter your name: ")
age = input("Enter your age: ")
school = input("Enter your school: ")

f = open("info.txt", "w")
f.write("Name: " + name + "\n")
f.write("Age: " + age + "\n")
f.write("School: " + school + "\n")
f.close()

Enter your name:  dhiya
Enter your age:  21 years old
Enter your school:  UTHM Pagoh

#### (c) Create a text file numbers.txt with 20 integers in it. Then write a new text file numbers_even.txt that contains only the even numbers from numbers.txt.

In [22]:
numbers = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

f = open("numbers.txt", "w")
for n in numbers:
    f.write(str(n) + "\n")
f.close()

f = open("numbers_even.txt", "w")
for n in numbers:
    if n % 2 == 0:
        f.write(str(n) + "\n")
f.close()

#### (d) Create a text file numbers.txt with 20 integers in it.Then write a new text file numbers_5to9.txt that contains only the numbers from numbers.txt that is in range[5,9].

In [23]:
import numbers

numbers = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

f = open("numbers.txt", "w")
for n in numbers:
    f.write(str(n) + "\n")
f.close()

f = open("numbers_even.txt", "w")
for n in numbers:
    if n % 2 == 0:
        f.write(str(n) + "\n")
f.close()

#### (e) Append 20 random integers from 1 to 20 (inclusive) to the file numbers.txt

In [24]:
import random

f = open("numbers.txt", "a")   # append mode
for i in range(20):
    f.write(str(random.randint(1,20)) + "\n")
f.close()

#### (f) Use a loop to write the following pattern in a text file

In [25]:
f = open("pattern.txt", "w")
for i in range(1,6):
    line = (str(i) + " ") * i
    f.write(line.strip() + "\n")
f.close()

#### (g) Copy the following data into a csv file experties.csv. Then read the data and convert all texts into title case and write it into another csv file experties_title_case.csv

In [26]:
import csv

data = [
    ["mark thompson", "associate attorney", "johnson & yun associates"],
    ["alan johnson", "business executive", "parkland holdings"],
    ["jenny clerk", "financial advisor", "public bank bhd."],
    ["timothy white", "investment analyst", "fieldman financial group"]
]

with open("experties.csv", "w", newline="") as f:
    writer = csv.writer(f)
    writer.writerow(["name","occupation","association"])
    writer.writerows(data)

# convert to title case
with open("experties.csv", "r") as f:
    reader = csv.reader(f)
    rows = list(reader)

with open("experties_title_case.csv", "w", newline="") as f:
    writer = csv.writer(f)
    for row in rows:
        new_row = [x.title() for x in row]
        writer.writerow(new_row)

#### (h) Asking the user to input a name and an age 3 times and write the values in a csv file

In [1]:
import csv

with open("names.csv", "w", newline="") as f:
    writer = csv.writer(f)
    writer.writerow(["Name","Age"])
    for i in range(3):
        name = input("Enter name: ")
        age = input("Enter age: ")
        writer.writerow([name, age])

Enter name:  Dhiya
Enter age:  21 years old
Enter name:  Dhiya
Enter age:  21 years old
Enter name:  Dhiya
Enter age:  21 years old

#### Question 5
Create a csv file students.csv with the names, ID number and scores of 10 students in a Calculus
class.

#### (a) Write a csv file students_ID.csv that contains only the names and the IDs of the data in students.csv.

In [27]:
import csv


with open("students.csv", "w", newline="") as f:
    writer = csv.writer(f)
    writer.writerow(["Name","ID","Score"])
    writer.writerow(["Ali","S001",85])
    writer.writerow(["Fatimah","S002",72])
    writer.writerow(["John","S003",60])
    writer.writerow(["Aisyah","S004",45])
    writer.writerow(["Tom","S005",30])
    writer.writerow(["Sara","S006",95])
    writer.writerow(["Adam","S007",70])
    writer.writerow(["Maya","S008",55])
    writer.writerow(["Lee","S009",40])
    writer.writerow(["Zara","S010",88])


with open("students_ID.csv", "w", newline="") as f:
    writer = csv.writer(f)
    writer.writerow(["Name","ID"])
    writer.writerow(["Ali","S001"])
    writer.writerow(["Fatimah","S002"])
    writer.writerow(["John","S003"])
    writer.writerow(["Aisyah","S004"])
    writer.writerow(["Tom","S005"])
    writer.writerow(["Sara","S006"])
    writer.writerow(["Adam","S007"])
    writer.writerow(["Maya","S008"])
    writer.writerow(["Lee","S009"])
    writer.writerow(["Zara","S010"])

#### (b) Write a csv file students_scores_ID.csv that swaps the the ID and the score columns of the data in students.csv.

In [28]:
import csv

with open("students_scores_ID.csv", "w", newline="") as f:
    writer = csv.writer(f)
    writer.writerow(["Name","Score","ID"])
    writer.writerow(["Ali",85,"S001"])
    writer.writerow(["Fatimah",72,"S002"])
    writer.writerow(["John",60,"S003"])
    writer.writerow(["Aisyah",45,"S004"])
    writer.writerow(["Tom",30,"S005"])
    writer.writerow(["Sara",95,"S006"])
    writer.writerow(["Adam",70,"S007"])
    writer.writerow(["Maya",55,"S008"])
    writer.writerow(["Lee",40,"S009"])
    writer.writerow(["Zara",88,"S010"])

#### (c)  Calculate the grade of each student (score ≥ 80 for A, 60 ≤ score < 80 for B, 40 ≤ score < 60 for C, and score < 40 for E). Write all data in students.csv to student_grade.csv and add the grades as the fourth column of student_grade.csv.

In [29]:
import csv

def grade(score):
    if score >= 80:
        return "A"
    elif score >= 60:
        return "B"
    elif score >= 40:
        return "C"
    else:
        return "E"

with open("student_grade.csv", "w", newline="") as f:
    writer = csv.writer(f)
    writer.writerow(["Name","ID","Score","Grade"])
    writer.writerow(["Ali","S001",85,grade(85)])
    writer.writerow(["Fatimah","S002",72,grade(72)])
    writer.writerow(["John","S003",60,grade(60)])
    writer.writerow(["Aisyah","S004",45,grade(45)])
    writer.writerow(["Tom","S005",30,grade(30)])
    writer.writerow(["Sara","S006",95,grade(95)])
    writer.writerow(["Adam","S007",70,grade(70)])
    writer.writerow(["Maya","S008",55,grade(55)])
    writer.writerow(["Lee","S009",40,grade(40)])
    writer.writerow(["Zara","S010",88,grade(88)])

#### (d) Create a new text file Calculus_Report.txt. Calculate the average of the class and write it to Calculus_Report.txt.

In [30]:
scores = [85,72,60,45,30,95,70,55,40,88]
average = sum(scores) / len(scores)

f = open("Calculus_Report.txt","w")
f.write("Class average: " + str(average) + "\n")
f.close()

#### (e) Calculate the frequency of each grade and append it to Calculus_Report.txt.

In [31]:
grades = ["A","B","B","C","E","A","B","C","C","A"]

freq_A = grades.count("A")
freq_B = grades.count("B")
freq_C = grades.count("C")
freq_E = grades.count("E")

f = open("Calculus_Report.txt","a")   
f.write("Grade frequencies:\n")
f.write("A: " + str(freq_A) + "\n")
f.write("B: " + str(freq_B) + "\n")
f.write("C: " + str(freq_C) + "\n")
f.write("E: " + str(freq_E) + "\n")
f.close()

#### Question 6
 Using the file students.csv created in Q6, create the csv file

#### (a) students_sorted_Name.csv where the names of the students in students.csv are sorted in ascending order.

In [32]:
numbers = (10, 20, 30, 40, 50)
print("Tuple created:", numbers)

Tuple created: (10, 20, 30, 40, 50)

#### (b)  students_sorted_ID.csv where the IDs of the students in students.csv are sorted in ascending order.

In [33]:
print("First element:", numbers[0])

First element: 10

#### (c) students_sorted_Score.csv where the scores of the students in students.csv are sorted in ascending order.

In [34]:
print("Last element:", numbers[-1])

Last element: 50

#### Question 7
Create a csv file, staff.csv with 10 staff names, IDs (must be unique) and the departments they work.
Then write a function called :

#### (a) searchByID that takes a staff ID as input and searches the staff.csv file for a staff member with that ID. The function should display the details of the staff member if found. If no match is found, it should show a message indicating that no staff member with that ID was found.

In [35]:
students = {
    "Ali": 85,
    "Fatimah": 72,
    "John": 60,
    "Aisyah": 45,
    "Tom": 30
}
print("Dictionary created:", students)

Dictionary created: {'Ali': 85, 'Fatimah': 72, 'John': 60, 'Aisyah': 45, 'Tom': 30}

#### (b) searchbyDepartment that takes a department name as input and searches the staff.csv file for staff members who work in that department. The function should display the details of all staff members found in that department. If no staff members are found, it should show a message indicating that no staff members work in that department

In [36]:
print("Ali’s score:", students["Ali"])

Ali’s score: 85

#### (c) deleteContact that deletes a selected contact from contacts.csv. Let the user select the index of the contact to be deleted, for example, if the contacts are displayed as
1. John 011-2687357
2. Tom 012-4573695
3. William 015-2455873
If the user selects 2,then Tom will be removed from contacts.csv

In [37]:
students["Sara"] = 95
print("Dictionary after adding Sara:", students)

Dictionary after adding Sara: {'Ali': 85, 'Fatimah': 72, 'John': 60, 'Aisyah': 45, 'Tom': 30, 'Sara': 95}

#### Question 8
Complete the following tasks.

#### (a) Print the calendar of August 2024

In [38]:
import calendar

print(calendar.month(2024, 8))

    August 2024
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31

#### (b) Print the calendar of 2024, in 3 rows and 4 columns,and use Friday as the first day of each week.

In [39]:
import calendar

print(calendar.month(2025, 8))

    August 2025
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

#### (c) Print the calendar of 2024, in 4 rows and 3 columns, and use 3 characters for each day of the week

In [40]:
import calendar

calendar.setfirstweekday(0)

print(calendar.calendar(2024, w=3, l=1, c=6, m=3))

                                             2024

          January                          February                          March
Mon Tue Wed Thu Fri Sat Sun      Mon Tue Wed Thu Fri Sat Sun      Mon Tue Wed Thu Fri Sat Sun
  1   2   3   4   5   6   7                    1   2   3   4                        1   2   3
  8   9  10  11  12  13  14        5   6   7   8   9  10  11        4   5   6   7   8   9  10
 15  16  17  18  19  20  21       12  13  14  15  16  17  18       11  12  13  14  15  16  17
 22  23  24  25  26  27  28       19  20  21  22  23  24  25       18  19  20  21  22  23  24
 29  30  31                       26  27  28  29                   25  26  27  28  29  30  31

           April                             May                              June
Mon Tue Wed Thu Fri Sat Sun      Mon Tue Wed Thu Fri Sat Sun      Mon Tue Wed Thu Fri Sat Sun
  1   2   3   4   5   6   7                1   2   3   4   5                            1   2
  8   9  10  11  12  13  14        6   7   8   9  10  11  12        3   4   5   6   7   8   9
 15  16  17  18  19  20  21       13  14  15  16  17  18  19       10  11  12  13  14  15  16
 22  23  24  25  26  27  28       20  21  22  23  24  25  26       17  18  19  20  21  22  23
 29  30                           27  28  29  30  31               24  25  26  27  28  29  30

            July                            August                         September
Mon Tue Wed Thu Fri Sat Sun      Mon Tue Wed Thu Fri Sat Sun      Mon Tue Wed Thu Fri Sat Sun
  1   2   3   4   5   6   7                    1   2   3   4                                1
  8   9  10  11  12  13  14        5   6   7   8   9  10  11        2   3   4   5   6   7   8
 15  16  17  18  19  20  21       12  13  14  15  16  17  18        9  10  11  12  13  14  15
 22  23  24  25  26  27  28       19  20  21  22  23  24  25       16  17  18  19  20  21  22
 29  30  31                       26  27  28  29  30  31           23  24  25  26  27  28  29
                                                                   30

          October                          November                         December
Mon Tue Wed Thu Fri Sat Sun      Mon Tue Wed Thu Fri Sat Sun      Mon Tue Wed Thu Fri Sat Sun
      1   2   3   4   5   6                        1   2   3                                1
  7   8   9  10  11  12  13        4   5   6   7   8   9  10        2   3   4   5   6   7   8
 14  15  16  17  18  19  20       11  12  13  14  15  16  17        9  10  11  12  13  14  15
 21  22  23  24  25  26  27       18  19  20  21  22  23  24       16  17  18  19  20  21  22
 28  29  30  31                   25  26  27  28  29  30           23  24  25  26  27  28  29
                                                                   30  31